body{
    margin: 0px;
}
.nav{
    width: 100%;
    height: 44px;
    background-color: rgba(30, 29, 29, 0.881);
    margin: 0px;
    padding: 0px 22px;
    position: fixed;
    display: flex;
    left: 0px;
    z-index: 1000;
}
.logo{
    width: 14px;
    height: 16px;
    margin-top: 12px;
    margin-left: 230px;
}
.navcont{
    text-transform: capitalize;
   color: white;
    margin-top: 13px;
    font-weight: lighter;
    word-spacing: 30px;
    margin-left: 50px;
    text-align: center;
    font-size: small;
}
.logo2{
    width: 14px;
    height: 16px;
    margin-top: 13px;
    font-weight: bold;
    padding-left: 40px; 
}
.logo3{
    width: 14px;
    height: 16px;
    margin-top: 13px;
    font-weight: bold;
    padding-left: 40px; 
}
.session1{
    width: 100%;
    background-color: black;
    position: relative;
    top: 44px;
    height: 800px;
    
    

}
.session1img{
    position: relative;
    margin-left: 360px;
    height: 615px;
    
}
  
.introduction1{
    color: #fff;
}
.textwarper{
    position: absolute;
    top: 30px;
    color: #fff;
    text-align: center;
    margin-left: 280px;
    font-size: 30px;
    margin-top: 520px;
    line-height:40px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.imgwarper{
    position: relative;
    display: flex;
}
.button{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    margin: 28px 0px 0px;
    padding: 17px 30px;
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    position: relative;
    top: 30px;
}
.session2img{
    width: 1080px;
    position: absolute;
    height: 762px;
    left: 160px;
    
}
.session2{
    width: 100%;
    background-color: black;
    top: 44px;
    height: 900px;
}
.session2img1{
    position: relative;
    width: 600px;
    left: 410px;
    top: 60px;
}
.headline{
    font-size: 55px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.009em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    position: absolute;
    left: 520px;
    top: 870px;
}
.para1{
        font-size: 20px;
        line-height: 1.2105263158;
        font-weight: 600;
        letter-spacing: .012em;
        font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
        color: #86868b;
        position: absolute;
        text-align: center;
        left: 340px;
        margin-top: 280px;
}
.para2{
    color: #fff;
    position: absolute;
    font-size: 17px;
    line-height: 1.4705882353;
    font-weight: 500;
    letter-spacing: -0.022em;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: block;
    text-align: center;
    left: 500px;
    margin-top: 400px;
}
.button2{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    margin: 28px 0px 0px;
    padding: 17px 30px;
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    position: relative;
    top: 550px;
    right: 55px;
}
.button3{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    margin: 28px 0px 0px;
    padding: 17px 30px;
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    position: relative;
    top: 550px;
    right: 40px;
}
.session3{
    width: 100%;
    background: linear-gradient(to bottom,rgb(79, 107, 144),white);
    height: 900px;
}
.session3img{
    width: 900px;
    position: absolute;
    margin-top: 300px;
    left: 240px;
}
.headline2{
    font-size: 55px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.009em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    position: absolute;
    left: 580px;
    margin-top:90px ;
    
}
.session3img1{
    position: absolute;
    width: 600px;
    left: 410px;
    margin-top: 40px;
    
}
.para3{
    font-size: 20px;
    line-height: 1.2105263158;
    font-weight: 600;
    letter-spacing: .012em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: black;
    position: absolute;
    text-align: center;
    left: 370px;
    margin-top: 630px;
}
.para4{
color: black;
position: absolute;
font-size: 17px;
line-height: 1.4705882353;
font-weight: 500;
letter-spacing: -0.022em;
font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
display: block;
text-align: center;
left: 500px;
margin-top: 730px;
}
.button4{
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    margin: 28px 0px 0px;
    padding: 17px 30px;
    background: transparent;
    border: 2px solid rgb(16, 15, 15);
    border-radius: 30px;
    position: relative;
    left: 560px;
    position: absolute;
    margin-top: 828px;
    
}
.button5{
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.1764805882;
    font-weight: 400;
    letter-spacing: -0.022em;
    margin: 28px 0px 0px;
    padding: 17px 30px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    left: 720px;
    position: absolute;
    margin-top: 828px;
    
}
.session4{
    width: 100%;
    background: white;
    height: 1000px;
}
.session4img{
    width: 274px;
    position: absolute;
    height: 93px;
    left: 580px ;
    margin-top: 150px;
}
.para5{
    font-size: 20px;
    line-height: 1.2105263158;
    font-weight: 600;
    letter-spacing: .012em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #86868b;
    position: absolute;
    text-align: center;
    left: 420px;
    margin-top: 280px;
}
.para6{
    color: black;
    position: absolute;
    font-size: 17px;
    line-height: 1.4705882353;
    font-weight: 500;
    letter-spacing: -0.022em;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: block;
    text-align: center;
    left: 615px;
    margin-top: 410px;
}

.button6{
        text-align: center;
        text-decoration: none;
        color: black;
        font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 17px;
        line-height: 1.1764805882;
        font-weight: 400;
        letter-spacing: -0.022em;
        margin: 28px 0px 0px;
        padding: 17px 30px;
        background: transparent;
        border: 1px solid rgb(16, 15, 15);
        border-radius: 30px;
        position: relative;
        left: 560px;
        position: absolute;
        margin-top: 470px;
        
}
.button7{
        text-align: center;
        text-decoration: none;
        color: black;
        font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 17px;
        line-height: 1.1764805882;
        font-weight: 400;
        letter-spacing: -0.022em;
        margin: 28px 0px 0px;
        padding: 17px 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 30px;
        left: 730px;
        position: absolute;
        margin-top: 470px;
        
}
.session4img1{
    position: absolute;
    width: 87%;
    height: 400px;
    margin-top: 600px;
    left: 110px;
    
}